
<html style="border: 0; margin: 0; padding: 0">
<body style="border: 0; margin: 0; padding: 0">

<div style="background-color: #f7f7f7;padding-top: 50px;padding-bottom: 50px;">

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 800px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;border-bottom: 0">
        <tbody>

        <tr style="height: 160px;">
            <td style="">
                <div style="text-align: left; padding-left: 40px;">
                    <img src="http://vgfinancing.com/images/logo_blank.png" alt="VG Financing - авансирование торгового оборота, совместно с ВТБ24.">
                </div>
            </td>
            <td style="">
                <div style="text-align: right; padding-right: 40px;">
                    <img src="http://vgfinancing.com/images/logo_vtb.png" alt="VG Financing - авансирование торгового оборота, совместно с ВТБ24.">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 800px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;border-bottom: 0; border-top:0;">
        <tbody>
        <tr style="height: 160px;">
            <td style="font-family: arail, sans-serif; font-size: 14px; padding-bottom: 50px;">
                <div style="text-align: left; padding-left: 40px;; padding-right: 40px; font-size: 14px; line-height: 21px;">

                    <h3 style="font-weight: bold; text-align: center;height: 60px;padding-top: 30px;">Уважаемый {{executive_fio}}</h3>
                    <div style="height: 280px;">

                        Настоящим письмом уведомляем Вас, что дата последнего списания денежных средств по договору финансирования № {{agreement_number}} от {{agreement_sign_date}} с {{name}}   {{last_payment_date}}

                    </div>

                </div>
                <div style="    padding-left: 60px;
                    font-size: 14px;
                    line-height: 20px;
                    padding-top: 30px;">
                    С уважением,<br/>
                    Команда<br/>
                    ВиДжи Файнэнсинг.
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 800px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;;border-top: 0">
        <tbody>
        <tr style="height: 231px;">
            <td style="">
                <div style="text-align: left; padding-left: 0;">
                    <img src="http://vgfinancing.com/images/blank_bottom.png" alt="VG Financing - авансирование торгового оборота, совместно с ВТБ24.">
                </div>
            </td>

        </tr>
        </tbody>
    </table>


</div>

</body>
</html>
