<html style="border: 0; margin: 0; padding: 0">
<body style="border: 0; margin: 0; padding: 0">

<div style="background-color: #f7f7f7;padding-top: 50px;padding-bottom: 50px;">

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 800px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;border-bottom: 0">
        <tbody>
        <tr style="height: 160px;">
            <td style="">
                <div style="text-align: left; padding-left: 40px;">
                    <img src="http://vgfinancing.com/images/logo_blank.png" alt="VG Financing - авансирование торгового оборота, совместно с ВТБ24.">
                </div>
            </td>
            <td style="">
                <div style="text-align: right; padding-right: 40px;">
                    <img src="http://vgfinancing.com/images/logo_vtb.png" alt="VG Financing - авансирование торгового оборота, совместно с ВТБ24.">
                </div>
            </td>
        </tr>
        </tbody>
    </table>



    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 800px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;border-bottom: 0; border-top:0;">
        <tbody>
        <tr style="height: 160px;">
            <td style="font-family: arail, sans-serif; font-size: 14px; padding-bottom: 50px;">
                <div style="text-align: left; padding-left: 40px;; padding-right: 40px; font-size: 14px; line-height: 21px;">

                    <h3 style="font-weight: bold; text-align: center;height: 60px;padding-top: 30px;">Уважаемы клиент!</h3>
                    <p>
                        Для заключения договора финансирования просим Вас предоставить в скан-копиях по адресу <b>info@vgfinancing.ru</b> следующие документы:
                    </p>
                    <ul>
                        <li>Cвидетельство о постановке на учет в налоговом органе</li>
                        <li>Cвидетельство о государственной регистрации юридического лица</li>
                        <li>Последнюю редакцию Устава;</li>
                        <li>Решение уполномоченного органа о создании, реорганизации юридического лица (протокол, приказ, постановление, распоряжение)</li>
                        <li>Документ, подтверждающий полномочия лиц на подписание договора и иных документов - документ об избрании или назначении на должность, решение уполномоченного органа, выписка из приказа и т.п., (копия, заверенная нотариально или Организацией).</li>
                        <li>Правоустанавливающие документов, подтверждающих право юридического лица на использование помещений, действующих в настоящее время и (при наличии) завершивших действие (договор (свидетельство) о праве собственности на здание (помещение), договор аренды здания (помещения) и т. д.).</li>
                    </ul>


                </div>
                <div style="    padding-left: 60px;
                    font-size: 14px;
                    line-height: 20px;
                    padding-top: 30px;">
                    С уважением,<br/>
                    Команда<br/>
                    ВиДжи Файнэнсинг.
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table border="0" align="center" cellspacing="0" cellpadding="0" style="width: 800px;background-color: white;border-collapse: collapse;border: 1px solid #d5c3c3;border-top: 0;border-bottom: 1px solid #d5c3c3;">
        <tbody>
        <tr style="height: 231px;">
            <td style="">
                <div style="text-align: left; padding-left: 0;">
                    <img src="http://vgfinancing.com/images/blank_bottom.png" alt="VG Financing - авансирование торгового оборота, совместно с ВТБ24.">
                </div>
            </td>

        </tr>
        </tbody>
    </table>


</div>

</body>
</html>

